.row
  .col-md-6
    %h1 Zeus the Timid Doggo
    %p Zeus comes with a carepackage! Items inlcuded are:
    %ul
      %li food (both wet and dry)
      %li food and water bowls
      %li bed with washable cover
      %li blanket
      %li various toys, both squeeky and silent
      %li treats for good boys
      %li cage with bedding
      %li leash
      %li harness
      %li shampoo
      %li poop bags
      %li old math team shirt
    %h2 Doggo's Daily Schedule
    %ol
      %li Take him out soon after you get up. You should use his harness for any walks.
      %li Feed him one scoop of dry food in the morning.
      %li Around lunch time feed him 1/2 of a wet food container, other half lives in the fridge.
      %li Take him out to pee.
      %li If he's eaten all of his food from earlier in the day, feed him the other half of the wet food at dinner time.
      %li Take him to poop after dinner.
      %li Give him a Greenie for his teeth. (Green treats shaped like a toothbrush)
      %li Take him out one last time before bed.
    %h2 Should I...
  .col-md-6
    %img{:src => "http://i.imgur.com/3ddWu4F.jpg"}
.row
  .col-md-6
    .well
      %h3 Yes!
      %ul
        %li Take Zeus on car rides? He loves em!
        %li Let Zeus on furniture? If the couch owner consents, Zeus loves being comfy.
        %li Throw his toys to play fetch? When he's in the mood, Zeus is a fetch fiend.
        %li Leave Zeus alone? He will cry a bit, but will be fine alone either in his cage or just in an enclosed space (any room with a door).
  .col-md-6
    .well
      %h3 No!
      %ul
        %li Leave Zeus in a car unattended? Even if the weather is nice or whatever, he hates this and will cry loudly.
        %li Play rough with Zeus? He's a big pup but will be afraid of you for at least 3 minutes if you try to chase/tackle him.
        %li Give Zeus human food? It's tempting because he's so cute and good at begging, but refrain for the good of all parties involved.
.row
  %h2 ZEUS FACTS
  %p  He gets cold with his new haircut. If you notice he's shivering, cover him with his blanket or put on his math team shirt.
  %p  Zeus is a flexible sleeper. His first choice is to sleep with you in a bed, second choice is the couch/futon, third choice is his dog bed, fourth is the cage. Do with this information what you will.
  %p He barks a lot when he's nervous. To avoid excessive borks, quietly let him know that you are there and can protect him by putting your face close to his and saying "quiet."
  %p Zeus LOVES treats.
  %p He will be fresh and clean when you get him but if for any reason you want to bathe him, do so in the shower. He will temporarily hate you for this.
  %p Peanut butter/dog treats in the Kong toy is the best way to keep Zeus busy.
  %p He has been eating his body like a corncob due to anxiety. If you catch him in the act, sternly tell him "No!"
  %p PLEASE save and share any pictures you might take of Zeus.
